body {
    font-family: Arial;
    background-color: #c7dece;
    display: flex;
    align-items: center;
  }
  
  .container {
    position: relative;
    top:30px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background:linear-gradient(rgb(139, 164, 216), rgb(228, 156, 167));
    border-radius: 10px;
  
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .todo-input {
    width: 100%;
    padding: 11px;
    border: 1px solid #9f7676;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item span {
    flex-grow: 1;
  }
  
  .btn{
    background-color: #d2be4e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .btn:hover {
    background-color: #69cb6e;
  }